[Unit]
Description=Execute promptbet check every 30 s

[Timer]
OnCalendar=*:*:00/30
AccuracySec=1s
OnBootSec=10s
Unit=promptbet-agent.service

[Install]
WantedBy=timers.target 
